<div class="row">
    <div class="form-group">
        <label class="control-label col-sm-4" for="agendamento">Agendamento :</label>
        <div class="col-sm-8">
            <select id="agendamento" name="agendamento" class="form-control"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="chkSemAgendamento"> Cliente Sem Agendamento
                </label>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div class="row">
    <div class="form-group">
        <div class="col-sm-12 text-right">
            <a href="javascript:void(0);" class="btn btn-info" onclick="NovoAquisicoesContratos();"><i class="fa fa-arrow-right"></i> Continuar</a>
            <a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal" ><i class="fa fa-arrow-right"></i> Voltar</a>
        </div>
    </div>
</div>